*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:linear-gradient(135deg,#081120,#102540,#17365d);
color:white;
min-height:100vh;
}

.app{
width:min(1200px,92%);
margin:auto;
padding:30px 0;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

.status{
background:rgba(255,255,255,.08);
padding:12px 18px;
border-radius:15px;
display:flex;
gap:10px;
align-items:center;
}

.dot{
width:10px;
height:10px;
border-radius:50%;
background:#2dd4bf;
}

.layout{
display:flex;
justify-content:center;
}

.card{
background:rgba(10,18,35,.82);
padding:25px;
border-radius:20px;
width:100%;
max-width:1000px;
}

.votante{
background:rgba(255,255,255,.06);
padding:15px;
border-radius:14px;
margin:20px 0;
line-height:1.8;
}

.timer-box{
margin-bottom:25px;
}

.timer-box h3{
font-size:35px;
margin-top:10px;
}

.timer-bar{
height:10px;
background:#1e293b;
border-radius:10px;
margin-top:10px;
}

.timer-fill{
height:100%;
width:100%;
background:#2dd4bf;
border-radius:10px;
}

.candidatos{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;
margin-top:20px;
}

.candidato{
background:#1e293b;
border:none;
padding:18px;
border-radius:18px;
color:white;
cursor:pointer;
display:flex;
flex-direction:column;
align-items:center;
gap:10px;
}

.candidato:hover{
background:#2563eb;
}

.candidato img{
width:90px;
height:90px;
border-radius:50%;
object-fit:cover;
}

.blanco{
background:#475569;
}

.btn{
width:100%;
padding:15px;
border:none;
border-radius:12px;
cursor:pointer;
font-size:16px;
margin-top:20px;
}

.primary{
background:#2563eb;
color:white;
}

.secondary{
background:#475569;
color:white;
}

.ayuda{
background:#ea580c;
color:white;
}

#mensajeAyuda{
margin-top:15px;
font-size:18px;
color:#fbbf24;
font-weight:bold;
text-align:center;
}

.modal{
position:fixed;
inset:0;
background:rgba(0,0,0,.7);
display:flex;
justify-content:center;
align-items:center;
}

.hidden{
display:none;
}

.modal-content{
background:#0f172a;
padding:35px;
border-radius:20px;
width:500px;
text-align:center;
}

.modal-actions{
display:flex;
gap:15px;
margin-top:25px;
}

.final-card{
max-width:500px;
margin:100px auto;
text-align:center;
}

@media(max-width:900px){
.candidatos{
grid-template-columns:1fr 1fr;
}
}

@media(max-width:600px){
.candidatos{
grid-template-columns:1fr;
}
}